@model Recipator.Models.Recipe
<link rel="stylesheet" href="~/css/Recipes/_RecipeCard.css" asp-append-version="true" />

<div class="recipe-card recipe-item" data-id="@Model.Id" data-title="@Model.Title" data-ingredients="@Model.Ingredients" data-instructions="@Model.Instructions">
    <div class="recipe-image" style="background-image: url('https://images.immediate.co.uk/production/volatile/sites/30/2017/03/Hake-3ce7ac3.jpg?quality=90&resize=504%2C458');"></div>
    
    <div class="recipe-footer">
        <h3>@Model.Title</h3>
    </div>
</div>
