@model Recipator.Models.Recipe
<link rel="stylesheet" href="~/css/Recipes/_RecipeCard.css" asp-append-version="true" />

<div class="recipe-card recipe-item" data-id="@Model.Id" data-title="@Model.Title" data-ingredients="@Model.Ingredients" data-instructions="@Model.Instructions" data-Image="@Model.Image">
    <div class="recipe-image" style="background-image: url('@Model.Image');"></div>
    
    <div class="recipe-footer">
        <h3>@Model.Title</h3>
    </div>
</div>
